@import "./normalize.css";

:root {
  --margin: 10px;
  --padding-btn: 5px 10px;
}

.debug {
  border: 1px solid red;
}

canvas {
  width: 640px;
  height: 320px;
}

* {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

body {
  padding: 20px;
  margin: 0;
}

button {
  border: solid black 1px;
  padding: var(--padding-btn);
}

select {
  padding: 6px;
  margin-right: 5px;
}
